################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
ClothesStoreApi/bin/
ClothesStoreApi/obj/
Store.Data/bin/
Store.Data/obj/
Store.Repositories/bin/
Store.Repositories/obj/
Store.Services/bin/
Store.Services/obj/





